*{
    margin: 0;
    padding: 0;
}
.logo {
    height: 75px;
}

header{
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 40px;

}
.header-left {
    display: flex;
    align-items: center;
}
.header-left span {
    color: white;
    margin-left: 22px;
    font-size: 20px;
}

.header-right > ul{
    color: black;
    font-size: 20px;
    display: flex;
}

.header-right li {
    margin-left: 20px;
}
li {
    list-style: none;
}
.header-right span:last-child {
    margin-right: 0;
}
.golpia {
    background-image: url("../img/main.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.title {
    text-align: center;
    font-weight: bold;
    font-size: 100px;
}
.guideline {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.guideline li {
    margin-top: 25px;
}
.pickup {
   text-align: center;
   font-weight: bold;
   font-size: 75px; 
}
.contents img{
    height: 200px;
    margin: 0 20px;
}
footer {
    background-color: teal;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 100px;
    font-size: 20px;
}
/* インスタ用 */
.flowbtn12{
    font-family:'Verdana',sans-serif;	
    border-radius: 4px;
    display:inline-block;
    width:90%;
    font-size:20px;
    transition:.4s;	
    text-decoration:none;
    }
    /* ボタン内テキストマウスホバー時 */
    .flowbtn12:hover{
    color:#fff!important;
    text-decoration:none;
    }
    /* Twitter */
    .flowbtn12.fl_tw2{
    border:solid 1px #55acee;
    color:#55acee;
    }
    /* Twitterマウスホバー時 */
    .flowbtn12.fl_tw2:hover{
    border:solid 1px #55acee;
    background:#55acee;
    }
    /* Instagram */
    .flowbtn12.insta_btn2{
    border:solid 1px #c6529a;
    color:#c6529a;
    }
    /* Instagramマウスホバー時 */
    .flowbtn12.insta_btn2:hover{
    border:solid 1px #c6529a;
    background:#c6529a;
    }
    
    /* YouTube */
    .flowbtn12.fl_yu2{
    border:solid 1px #fc0d1c;
    color:#fc0d1c;
    }
    /* YouTubeマウスホバー時 */
    .flowbtn12.fl_yu2:hover{
    border:solid 1px #fc0d1c;
    background:#fc0d1c;
    }
    
    /* ボタン内テキスト調整 */
    .flowbtn12 span{
    font-size:14px;	
    position:relative;
    left:8px;
    bottom:2px;	
    }
    /* ulタグの内側余白を０にする */
    ul.snsbtniti2{
    padding:0!important;
    }
    /* ボタン全体の位置 */
    .snsbtniti2{
    display:flex;
    /* flex-flow:row wrap */
    flex-flow:row wrap;
    margin: 10px;
    }
    /* ボタン同士の余白 */
    .snsbtniti2 li{
    flex:0 0 48%;
    text-align:center !important;
    }
    
    .contents {
        width:100%;
        height: 500px;
        background-color:white;
        display: flex;    
        justify-content: space-around;
        align-items: center;
        
    }
    .pic {
        width: 100%;
        height: 100%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    .picup {
        text-align: center;
        font-weight: bold;
        font-size: 100px;

    }
    .font {
        font-family: 'Faster One', cursive;
    }
    iframe {
        width: 100%;
      }
